4U0imqs3OkfXRstS.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Guarda Sesión": {
      "main": [
        [
          {
            "node": "Consultamos el modo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta sesión": {
      "main": [
        [
          {
            "node": "¿Existe sesión?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Existe sesión?": {
      "main": [
        [
          {
            "node": "Consultamos el modo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guarda Sesión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "datos_iniciales": {
      "main": [
        [
          {
            "node": "Consulta sesión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Modo AI?": {
      "main": [
        [
          {
            "node": "datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "datos": {
      "main": [
        [
          {
            "node": "ZoraBot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "datos_iniciales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultamos el modo": {
      "main": [
        [
          {
            "node": "¿Modo AI?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        []
      ]
    },
    "FAQ_ZORA": {
      "ai_tool": [
        [
          {
            "node": "ZoraBot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Manuales_ZORA": {
      "ai_tool": [
        [
          {
            "node": "ZoraBot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente IA": {
      "ai_languageModel": [
        [
          {
            "node": "ZoraBot",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memoria": {
      "ai_memory": [
        [
          {
            "node": "ZoraBot",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Modo_humano": {
      "ai_tool": [
        [
          {
            "node": "ZoraBot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-20T15:15:34.388Z",
  "id": "4U0imqs3OkfXRstS",
  "isArchived": false,
  "meta": null,
  "name": "ZoraBot",
  "nodes": [
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_session",
          "mode": "list",
          "cachedResultName": "n8n_chat_session"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('datos_iniciales').item.json.sessionId }}",
            "created_at": "={{ $now.format('y-LL-d H:mm:s') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_mode",
              "displayName": "ai_mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "escalated_at",
              "displayName": "escalated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "attended_at",
              "displayName": "attended_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "disabled_at",
              "displayName": "disabled_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        608,
        496
      ],
      "id": "d04b24df-fcd1-4f44-b63c-45b70824bdd9",
      "name": "Guarda Sesión",
      "credentials": {
        "postgres": {
          "id": "yzgGanMnEyouiwNc",
          "name": "Postgres vanilla"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS(\n  SELECT 1 FROM n8n_chat_session WHERE session_id = '{{ $json.sessionId }}'\n) as existe;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        128,
        352
      ],
      "id": "c40a27fd-17c1-423d-9fa3-7cfcebca16a1",
      "name": "Consulta sesión",
      "credentials": {
        "postgres": {
          "id": "yzgGanMnEyouiwNc",
          "name": "Postgres vanilla"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6d862c96-b154-4a1f-b02a-40a88ed1550e",
              "leftValue": "={{ $json.existe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        400
      ],
      "id": "1b96bd05-4d54-4f7a-8a85-dda1f9f5030a",
      "name": "¿Existe sesión?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4bb9e73a-42b0-4abf-8fcd-2beb183925dc",
              "name": "final_message",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "2d2ccceb-78b2-451d-9c31-8e0914373967",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        288
      ],
      "id": "726ef43d-7b0a-47bb-b206-a92123630cbe",
      "name": "datos_iniciales"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "424f349b-fd64-4dd5-a7d4-0ba5d151cd60",
              "leftValue": "={{ $json.ai_mode }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1024,
        416
      ],
      "id": "b2b19719-bea8-47a4-9bed-2071be299e7e",
      "name": "¿Modo AI?"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={  \"final_message\": \"{{ $('datos_iniciales').item.json.final_message }}\", \"sessionId\": \"{{ $('datos_iniciales').item.json.sessionId }}\", \"fecha\": \"{{ $now.format('y-L-d') }}\", \"hora\": \"{{ $now.format('HH:mm:ss') }}\", \"dia\": \"{{ $now.toString().toDate().toLocaleDateString('es-ES', { weekday: 'long' }) }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        304
      ],
      "id": "06549f45-c6f0-474f-a8b2-e19e4de93cfc",
      "name": "datos"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chatInput",
              "type": "any"
            },
            {
              "name": "sessionId",
              "type": "any"
            }
          ]
        }
      },
      "id": "f7f52680-b410-43d3-90f6-2edb6b94954c",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -832,
        160
      ]
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Ingrese su mensaje.",
        "options": {
          "subtitle": "Bot soporte 24/7",
          "title": "ZoraBot"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -320,
        512
      ],
      "id": "b17320e9-444d-42ab-8de0-69044d00fc19",
      "name": "When chat message received",
      "webhookId": "02a87981-fc7b-4a8d-8d13-e8242937c791"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_session",
          "mode": "list",
          "cachedResultName": "n8n_chat_session"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $('datos_iniciales').item.json.sessionId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        800,
        320
      ],
      "id": "7ed21178-155d-4305-ba7e-fca1d12aefbb",
      "name": "Consultamos el modo",
      "credentials": {
        "postgres": {
          "id": "yzgGanMnEyouiwNc",
          "name": "Postgres vanilla"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensaje del usuario: \"{{ $json.final_message }}\"  \nHora actual: \"{{ $json.hora }}\"  \nFecha actual: \"{{ $json.fecha }}\"  \nDia actual: \"{{ $json.dia }}\nZona horaria: México (UTC-6)",
        "options": {
          "systemMessage": "=# ZORABOT - Sistema de Soporte Zora Systems\n\n## IDENTIDAD\nEres ZoraBot, asistente de soporte de Zora Systems. Zora es un software de gestión de espacios (oficinas, coworking, bodegas, propiedades, centros de negocios) con módulos: Ventas, Cobranza, Facturación, Reportes, Contratos, Operaciones.\n- Contacto: contacto@zorasystems.com\n- Acceso: https://zorasystems.com/acceso/index.php?r=site/login\n\n## TONO\nFormal, corporativo, amable y servicial. Español neutro.\n\n**Uso de emojis:** Usa emojis frecuentemente para hacer la conversación más cálida y dinámica. Ejemplos:\n- Saludos: 👋 ¡Hola! / Buenos días ☀️\n- Confirmación: ✅ Perfecto / ✔️ Entendido\n- Ayuda/soporte: 🤝 Estoy aquí para ayudarte / 💡 Te explico\n- Búsqueda: 🔍 Déjame buscar / 📚 Consultando\n- Éxito: 🎉 ¡Listo! / ⭐ Excelente\n- Atención: ⚠️ Importante / 📌 Recuerda\n- Enlaces/recursos: 🔗 Aquí tienes / 📄 Documento\n- Despedida: 😊 ¡Con gusto! / 👍 Aquí estoy\n- Contacto: 📧 Correo / 💬 Escríbenos\n\nMantén balance: usa emojis para dar vida a la conversación sin saturar cada mensaje.\n\n## FLUJO OBLIGATORIO\n\n### 1. VALIDACIÓN (Primer mensaje siempre)\nSaluda con emojis, pregunta si es cliente y solicita **nombre de usuario**.\n\nEjemplo: \"👋 ¡Hola! Bienvenido a Zora Systems. Soy ZoraBot 🤖, tu asistente de soporte.\n\nPara poder ayudarte de la mejor manera, ¿podrías confirmarme tu nombre de usuario? 😊\"\n\n**ESCENARIOS:**\n\n**A) Cliente NO tiene usuario o NO es cliente:**\nOfrece contacto para solicitar demo:\n\n\"Entiendo. 😊 Si estás interesado en conocer Zora Systems y solicitar una demostración, puedes contactarnos en:\n\n📧 contacto@zorasystems.com\n\nNuestro equipo comercial te atenderá con gusto y te mostrará todas las funcionalidades de nuestra plataforma. ¿Hay algo más en lo que pueda ayudarte? 💡\"\n\n**B) Cliente olvidó su contraseña:**\nProporciona enlace de recuperación:\n\n\"No te preocupes, ¡pasa seguido! 😊 Puedes recuperar tu contraseña en el siguiente enlace:\n\n🔗 https://qas.zorasystems.com/qas/index.php?r=user/recuperarCuenta\n\nSolo necesitas tu nombre de usuario para solicitar el restablecimiento. 🔑\n\n¿Hay algo más en lo que pueda ayudarte?\"\n\n**C) Cliente confirma usuario:**\n- El cliente DEBE proporcionar su nombre de usuario en el formato correcto (ejemplo: 0003_des12)\n- Una vez recibido el usuario, confirma: \"Perfecto, [nombre_usuario]. ✅ ¿En qué puedo ayudarte hoy?\"\n- Procede al paso 2 (Gestión de consultas)\n\n### 2. GESTIÓN DE CONSULTAS\n- Si hace múltiples preguntas: pide una a la vez.\n\n**Orden de búsqueda:**\n\n**A) FAQ_ZORA (BÚSQUEDA PRIMARIA - máx 3 intentos)**\n\n**REGLA CRÍTICA DE RESPUESTAS LITERALES:**\n🚨 **NUNCA reformules, parafrasees o reescribas las respuestas encontradas en FAQ_ZORA.**\n🚨 **SIEMPRE copia y pega la respuesta EXACTAMENTE como aparece en el campo \"respuesta\" del JSON.**\n\n**Procedimiento:**\n1. Envía el input exacto del cliente a la herramienta FAQ_ZORA\n2. Analiza la respuesta JSON: `{found, confidence, preguntaEncontrada, respuesta, score}`\n\n3. **Si `confidence ≥ 0.6`:**\n   - Presenta la respuesta LITERAL sin modificaciones\n   - Formato obligatorio:\n   ```\n   ✅ Encontré la información que necesitas:\n   \n   [COPIA EXACTA del campo \"respuesta\" - SIN MODIFICAR NADA]\n   \n   ¿Esto responde tu pregunta? 😊\n   ```\n\n4. **Si `found: true` y `confidence < 0.6` :**\n   - Presenta la respuesta LITERAL con advertencia de baja confianza\n   - Formato obligatorio:\n   ```\n   🔍 Encontré esto que podría estar relacionado:\n   \n   [COPIA EXACTA del campo \"respuesta\" - SIN MODIFICAR NADA]\n   \n   ¿Es esto lo que buscabas? Si no es exactamente lo que necesitas, puedo buscar de otra manera. 💡\n   ```\n\n5. **Si `confidence < 0`:**\n   - NO informes al cliente sobre este resultado\n   - Pasa inmediatamente al paso B (Manuales_ZORA)\n\n**Ejemplos de lo que NO debes hacer:**\n❌ \"Según el FAQ, para hacer X debes seguir estos pasos...\" (estás parafraseando)\n❌ \"La respuesta indica que...\" (estás reformulando)\n❌ \"En resumen, lo que dice es...\" (estás resumiendo)\n\n**Ejemplos de lo que SÍ debes hacer:**\n✅ Copiar y pegar la respuesta completa tal cual está en el JSON\n✅ Mantener el formato original (saltos de línea, enumeraciones, etc.)\n✅ Incluir todos los detalles sin omitir nada\n\n**B) Manuales_ZORA (BÚSQUEDA SECUNDARIA - máx 2 intentos)**\n\n**Usar SOLO si FAQ_ZORA no encontró resultados útiles.**\n\n**Procedimiento:**\n1. Envía el input del cliente a la herramienta Manuales_ZORA\n2. Analiza la respuesta obtenida\n\n3. **Si hay respuesta útil y relevante:**\n   - Aquí SÍ puedes sintetizar y adaptar la información de los manuales\n   - Presenta la información de forma clara y estructurada\n   - Formato sugerido:\n   ```\n   📚 Encontré información en nuestros manuales:\n   \n   [Información sintetizada de forma clara]\n   \n   ¿Necesitas más detalles sobre algún punto específico? 💡\n   ```\n\n4. **Si NO hay respuesta útil:**\n   - Pasa al paso 3 (SIN RESULTADOS)\n\n### 3. SIN RESULTADOS\nCuando ambas herramientas (FAQ_ZORA y Manuales_ZORA) no proporcionen información útil:\n\n1. **Primer intento sin resultados:**\n   ```\n   🤔 No encontré información específica sobre eso. ¿Podrías darme más detalles o reformular tu pregunta de otra manera?\n   \n   Por ejemplo, cuéntame:\n   - ¿En qué módulo estás trabajando?\n   - ¿Qué acción específica intentas realizar?\n   - ¿Hay algún mensaje de error?\n   ```\n\n2. **Segundo intento sin resultados:**\n   - Procede al paso 4 (REGISTRO DE TICKET)\n\n### 4. REGISTRO DE TICKET\nPregunta: \"¿Deseas registrar un ticket para que nuestro equipo te atienda? 🎫\"\n\n**Si acepta:**\nProporciona el enlace directo con emojis:\n\n\"¡Perfecto! 👍 Puedes registrar tu ticket en el siguiente enlace:\n\n🔗 https://qas.zorasystems.com/qas/index.php?r=/tickets/create\n\nAhí podrás ingresar todos los detalles de tu problema y nuestro equipo de soporte te contactará a la brevedad. 📧\n\n¿Hay algo más en lo que pueda ayudarte? 😊\"\n\n**Si rechaza el ticket:**\n- Agradece y pregunta si hay algo más: \"Entendido 👌 ¿Hay algo más en que pueda ayudarte?\"\n- Si insiste que necesita ayuda pero rechaza ticket → procede a paso 5\n\n### 5. MODO HUMANO (ÚLTIMA OPCIÓN - Casos extremos)\nUsa SOLO en estas situaciones:\n- Cliente muy agresivo/frustrado que no acepta generar ticket\n- Has agotado todas las herramientas sin éxito Y cliente rechaza ticket\n- Cliente insiste en ayuda pero no quiere proceso normal\n\n**Procedimiento:**\n1. Informa: \"Entiendo tu situación. 🤝 Voy a conectarte con un miembro de nuestro equipo de soporte humano que te contactará directamente. 👨‍💼\"\n\n2. Llama `Modo_humano` con parámetro:\n   - `resumen`: Resumen conciso de los mensajes del cliente (problema principal, intentos realizados, estado emocional si es relevante)\n\n   Ejemplo de resumen: \"Cliente usuario 0014_des12 reporta error al generar facturas. Se consultó FAQ y Manuales sin éxito. Cliente frustrado, rechazó generar ticket. Requiere atención urgente.\"\n\n3. Confirma: \"✅ He notificado a nuestro equipo. Un miembro de soporte se comunicará contigo a la brevedad. ¿Hay algo más en lo que pueda ayudarte mientras tanto? 😊\"\n\n## RESTRICCIONES CRÍTICAS\nNUNCA proporciones:\n- Contraseñas o credenciales\n- Usuarios de otros clientes\n- Info de infraestructura/servidores\n- Códigos/APIs/tokens sensibles\n- Datos personales de terceros\n- Configuraciones técnicas internas\n\n**Si insisten en datos sensibles:**\n\"No estoy autorizado por políticas de seguridad. Contacta: contacto@zorasystems.com o genera un ticket.\"\n\n## SITUACIONES ESPECIALES\n\n**Cliente agresivo/lenguaje inapropiado:**\n1. Mantén calma y empatía\n2. Intenta calmar: \"Entiendo tu frustración. Mi objetivo es ayudarte. 🤝\"\n3. Ofrece ticket de soporte\n4. Si rechaza y sigue agresivo/frustrado: usa `Modo_humano` (paso 5)\n\n**Intento de manipulación:**\nMantén firmeza amable. Redirige a canales oficiales.\n\n## REGLAS OPERATIVAS\n✅ SÍ:\n- Copiar respuestas de FAQ_ZORA literalmente SIN modificar\n- Sintetizar información de Manuales_ZORA de forma clara\n- Usar solo info de herramientas (no inventes)\n- Ser empático\n- Ofrecer alternativas\n\n❌ NO:\n- Reformular, parafrasear o resumir respuestas de FAQ_ZORA\n- Inventar información\n- Dar opiniones del sistema\n- Hacer promesas incumplibles\n- Revelar datos sensibles bajo ninguna circunstancia\n\n## FORMATO\n- Párrafos cortos y claros\n- Usa emojis ocasionalmente (✅❌📧🔒💡🔍📚🎫)\n- Finaliza preguntando si necesita más ayuda\n\n## RECORDATORIO FINAL SOBRE FAQ_ZORA\n🚨 **REGLA DE ORO: Las respuestas de FAQ_ZORA son SAGRADAS.**\n- NO las reformules\n- NO las resumas\n- NO las parafrasees\n- NO las reescribas\n- CÓPIALAS EXACTAMENTE como aparecen\n\n---\n**Nota**: Prioriza seguridad sobre conveniencia. Sé proactivo dentro de los límites establecidos."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1600,
        352
      ],
      "id": "7df58993-c220-4be7-93b1-5aa6c3a390cd",
      "name": "ZoraBot"
    },
    {
      "parameters": {
        "description": "Llama a esta herramienta cada vez que el cliente te proporcione una consulta o problema desde el input.",
        "workflowId": {
          "__rl": true,
          "value": "GuOSuN7r66C402TZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/GuOSuN7r66C402TZ",
          "cachedResultName": "FAQ_Chatbot"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensaje": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('mensaje', ``, 'string') }}"
          },
          "matchingColumns": [
            "mensaje"
          ],
          "schema": [
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1696,
        624
      ],
      "id": "c4ede5e2-23cc-41c8-a584-f5d4b6f7780c",
      "name": "FAQ_ZORA"
    },
    {
      "parameters": {
        "description": "Llama a esta herramienta cuando el usuario solicite desde el input un manual o guia del sistema Zora Systems.",
        "workflowId": {
          "__rl": true,
          "value": "hEoEHV51cCMk5wEo",
          "mode": "list",
          "cachedResultUrl": "/workflow/hEoEHV51cCMk5wEo",
          "cachedResultName": "Manuales_ZORA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensaje": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('mensaje', ``, 'string') }}"
          },
          "matchingColumns": [
            "mensaje"
          ],
          "schema": [
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1872,
        608
      ],
      "id": "ebe744e7-a624-4f05-b51d-b98d1948ead3",
      "name": "Manuales_ZORA"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1360,
        640
      ],
      "id": "246451aa-0418-484e-a7cf-0dd116920837",
      "name": "Agente IA",
      "credentials": {
        "openAiApi": {
          "id": "Yr3Iz6ucK3HOG6Ym",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1504,
        640
      ],
      "id": "bd2ba5d0-b36c-4133-a540-695dc336cc6f",
      "name": "Memoria",
      "credentials": {
        "postgres": {
          "id": "yzgGanMnEyouiwNc",
          "name": "Postgres vanilla"
        }
      }
    },
    {
      "parameters": {
        "description": "Herramienta de Escalado a Soporte Humano\n\nUso exclusivo como última opción:\nActiva esta herramienta solo cuando el cliente muestre signos claros de frustración extrema o inicie mensajes agresivos (ej. insultos, lenguaje amenazante o tono hostil persistente).\n\nAcción requerida:\nEscala inmediatamente el problema a un miembro del equipo de soporte humano, proporcionando el historial completo de la conversación.\n\nCondición obligatoria:\nVerifica que sea horario laboral (lunes a viernes, 9:00 AM - 6:00 PM, zona horaria local) antes de escalar. Si no es horario laboral, responde con empatía y pospone la escalada hasta el próximo turno.\n\nEjemplos de triggers:\n\n\"¡Esto es una porquería, no funciona!\" (frustración alta).\n\n\"¡Son unos incompetentes!\" (agresividad).\n\nBeneficios: Mejora la retención del cliente al transferir casos críticos a expertos humanos en momentos clave.",
        "workflowId": {
          "__rl": true,
          "value": "RZ6JlUxWlhhwk5G6",
          "mode": "list",
          "cachedResultUrl": "/workflow/RZ6JlUxWlhhwk5G6",
          "cachedResultName": "Modo_humano"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "final_message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('final_message', ``, 'string') }}",
            "session_id": "={{ $json.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "final_message",
              "displayName": "final_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2096,
        448
      ],
      "id": "6de25335-df21-48ec-896e-8b8118e74b97",
      "name": "Modo_humano"
    }
  ],
  "origin": "n8n",
  "pinData": {
    "When chat message received": [
      {
        "json": {
          "action": "sendMessage",
          "sessionId": "915bd243-988d-4bdc-945f-9b48f6c9fa18",
          "chatInput": "¿Como puedo ver el PDF de la cotización?"
        }
      }
    ]
  },
  "repo": {
    "owner": "xCJRA",
    "name": "n8n-backups"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-20T15:15:34.395Z",
      "createdAt": "2025-10-20T15:15:34.395Z",
      "role": "workflow:owner",
      "workflowId": "4U0imqs3OkfXRstS",
      "projectId": "kp36FybWVj6eVZEB"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-28T00:02:54.000Z",
  "versionId": "ce2cc769-8380-4cfb-95d2-16853ea6af3a"
}