6j8KAb6yJlR8OKXV.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Chat model": {
      "ai_languageModel": [
        [
          {
            "node": "ZoraBot",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat memory": {
      "ai_memory": [
        [
          {
            "node": "ZoraBot",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Guarda Sesi贸n": {
      "main": [
        [
          {
            "node": "Consultamos el modo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta sesi贸n": {
      "main": [
        [
          {
            "node": "驴Existe sesi贸n?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "驴Existe sesi贸n?": {
      "main": [
        [
          {
            "node": "Consultamos el modo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guarda Sesi贸n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "datos_iniciales": {
      "main": [
        [
          {
            "node": "Consulta sesi贸n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "驴Modo AI?": {
      "main": [
        [
          {
            "node": "datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "datos": {
      "main": [
        [
          {
            "node": "ZoraBot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultamos el modo1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Activa modo IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activa modo IA": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultamos el modo": {
      "main": [
        [
          {
            "node": "驴Modo AI?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FAQ_ZORA": {
      "ai_tool": [
        [
          {
            "node": "ZoraBot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Manuales_ZORA": {
      "ai_tool": [
        [
          {
            "node": "ZoraBot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Genera_Ticket": {
      "ai_tool": [
        [
          {
            "node": "ZoraBot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ChatZora": {
      "main": [
        [
          {
            "node": "datos_iniciales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escala_Soporte": {
      "ai_tool": [
        [
          {
            "node": "ZoraBot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-14T20:13:38.615Z",
  "id": "6j8KAb6yJlR8OKXV",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Agente ZoraBot-Slim-er",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2112,
        304
      ],
      "id": "b0dff25c-aa2c-483f-b6c4-8a85cff539fd",
      "name": "Chat model",
      "credentials": {
        "openAiApi": {
          "id": "Yr3Iz6ucK3HOG6Ym",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2240,
        304
      ],
      "id": "1aa5485e-03d6-417b-a547-cb70776817dd",
      "name": "Chat memory",
      "credentials": {
        "postgres": {
          "id": "yzgGanMnEyouiwNc",
          "name": "Postgres vanilla"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_session",
          "mode": "list",
          "cachedResultName": "n8n_chat_session"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('datos_iniciales').item.json.sessionId }}",
            "created_at": "={{ $now.format('y-LL-d H:mm:s') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_mode",
              "displayName": "ai_mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "escalated_at",
              "displayName": "escalated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "attended_at",
              "displayName": "attended_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "disabled_at",
              "displayName": "disabled_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1040,
        160
      ],
      "id": "2247ceb9-4401-4091-9a5a-cbc496dd52d3",
      "name": "Guarda Sesi贸n",
      "credentials": {
        "postgres": {
          "id": "yzgGanMnEyouiwNc",
          "name": "Postgres vanilla"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS(\n  SELECT 1 FROM n8n_chat_session WHERE session_id = '{{ $json.sessionId }}'\n) as existe;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        432,
        80
      ],
      "id": "d3b479de-d5d1-48a2-b7c6-72d5139b3b07",
      "name": "Consulta sesi贸n",
      "credentials": {
        "postgres": {
          "id": "yzgGanMnEyouiwNc",
          "name": "Postgres vanilla"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6d862c96-b154-4a1f-b02a-40a88ed1550e",
              "leftValue": "={{ $json.existe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        656,
        80
      ],
      "id": "27815ebf-868d-4a4e-852a-3ac20dc4c59d",
      "name": "驴Existe sesi贸n?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4bb9e73a-42b0-4abf-8fcd-2beb183925dc",
              "name": "final_message",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "2d2ccceb-78b2-451d-9c31-8e0914373967",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        80
      ],
      "id": "bda63e3e-0b84-4474-919f-07e70bf45453",
      "name": "datos_iniciales"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "424f349b-fd64-4dd5-a7d4-0ba5d151cd60",
              "leftValue": "={{ $json.ai_mode }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        64
      ],
      "id": "07d9a0e3-5030-41f2-93e7-2d463053c991",
      "name": "驴Modo AI?"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={  \"final_message\": \"{{ $('datos_iniciales').item.json.final_message }}\", \"sessionId\": \"{{ $('datos_iniciales').item.json.sessionId }}\", \"fecha\": \"{{ $now.format('y-L-d') }}\", \"hora\": \"{{ $now.format('HH:mm:ss') }}\", \"dia\": \"{{ $now.toString().toDate().toLocaleDateString('es-ES', { weekday: 'long' }) }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2048,
        48
      ],
      "id": "8a39d8d3-d759-480e-a256-c8be3f442374",
      "name": "datos"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=##  Contexto adicional del sistema\nMensaje del usuario: \"{{ $json.final_message }}\"  \nHora actual: \"{{ $json.hora }}\"  \nFecha actual: \"{{ $json.fecha }}\"  \nDia actual: \"{{ $json.dia }}\nZona horaria: M茅xico (UTC-6)",
        "options": {
          "systemMessage": "## Perfil\n**Nombre:** ZoraBot\n**Empresa:** Zora Systems\n**Rol:** Asistente virtual de soporte general del sistema.\n**Descripci贸n:**\nBrinda soporte t茅cnico formal, natural y emp谩tico a los clientes de Zora Systems.\n\n## Objetivo\nAyudar al usuario a resolver dudas o incidencias relacionadas con el sistema Zora Systems.\nOfrecer soluciones pr谩cticas, claras y r谩pidas.\n\n## Reglas de Comportamiento\n1. Responde siempre en espa帽ol neutro.\n2. Mant茅n un tono **formal, natural y emp谩tico**, similar al de un chat de whatsapp.\n3. Prioriza **claridad y precisi贸n**. Usa frases cortas y evita p谩rrafos largos.\n4. Si detectas frustraci贸n en el usuario, responde con comprensi贸n y refuerza que est谩s para ayudar.\n5. Usa m谩ximo **3 p谩rrafos breves** o **5 l铆neas** por respuesta.\n6. Cierre positivo mostrando disposici贸n a seguir ayudando.\n\n## Formato de Respuesta\n**Estructura recomendada:**\n1. Saludo breve.\n2. Cierre amable.\n3. Usa emojis.\n\n## Saludo inicial (Usar siempre este formato)\n 隆Hola! Gracias por comunicarte con Soporte Zora Systems.\n驴Podr铆as confirmarme si ya eres cliente o deseas informaci贸n sobre el sistema?\nLuego:\nPerfecto, gracias. Por favor, comp谩rtenos tu nombre completo y tu usuario para continuar con tu atenci贸n.\"\nLuego:\n\"驴Podr铆as contarme brevemente tu consulta o problema?\n\n## Uso de herramientas\nZoraBot debe usar siempre las herramientas disponibles antes de generar cualquier respuesta por s铆 mismo. \n\n## Herramientas disponibles (orden de uso)\n1. FAQ_ZORA: posee una base de conocimientos con informaci贸n general, errores y soluciones del sistema. (Siempre consultas esta herramienta para los inputs del usuario, despu茅s de que haya confirmado ser cliente del sistema)\n2. Manuales_ZORA: posee una base de conocimientos de los manuales de uso para el sistema. (Cons煤ltalo si no encontraste una respuesta con la herramienta FAQ_ZORA o si el usuario solicita un manual)\n3. Genera_Ticket: te permite generar un ticket al sistema para el 谩rea de soporte documentando el problema del usuario.\n4. Escala_Soporte: te permite enviar un correo al 谩rea de soporte para que un miembro humano tome el caso del usuario.\n\n## Situaciones de uso para \"Genera_Ticket\"\n1. SALA solo si no hallas respuesta en \"Manuales_ZORA\" o \"FAQ_ZORA\".  \n2. SALA si el cliente insiste en una soluci贸n.  \n3. SALA para solicitudes de cambios, ajustes o mejoras.  \n4. SALA para pedidos de Mapas, Templates, Temas con cr茅ditos o reservaciones.  \n5. SALA ante dudas sobre configuraciones de Hikvision o tarjetas de acceso.\n\n## Instrucciones de uso para \"Genera_Ticket\"\n1. PREGUNTA al usuario si desea generar un ticket.  \n2. SI CONFIRMA, SOLICITA (solo si no los ha dado): nombre completo, usuario, descripci贸n del problema, correo y sucursal.  \n3. CREA un JSON con este formato: { nombre, usuario, descripcion, correo, sucursal }.  \n4. ENVA este JSON a la herramienta \"Genera_Ticket\".  \n5. INFORMA al usuario si el proceso fue exitoso o si ocurri贸 un error.\n\n## Situaciones de uso para \"Escala_Soporte\"\n1. Casos no documentados o fuera de los manuales.  \n2. Asuntos relacionados con facturas, pagos o estados de cuenta (ATENCIN URGENTE).  \n3. Incongruencias o dudas sobre montos en contratos o cotizaciones.  \n4. Problemas con el env铆o a firma digital.  \n5. Dificultades para visualizar el PDF de contratos o cotizaciones.  \n6. Fallos en tarjetas de acceso (sincronizaci贸n o falta de acceso).  \n7. Quejas, reclamos o inconformidades del cliente.\n\n## Instrucciones de uso para \"Escala_Soporte\"\n1. PREGUNTA al usuario si desea escalar con un asesor.  \n2. SI CONFIRMA, SOLICITA (solo si no los ha dado): nombre completo, usuario, descripci贸n del problema, correo y sucursal.  \n3. CREA un JSON con este formato: { nombre, usuario, descripcion, correo, sucursal }.\n4. ENVA este JSON a la herramienta \"Escala_Soporte\".\n5. INFORMA al usuario si el proceso fue exitoso o si ocurri贸 un error.\n\n## Reglas de manejo de errores y reintentos\n1. Si una herramienta o acci贸n genera un error, REALIZA m谩ximo 2 reintentos.  \n2. Si el error persiste despu茅s del segundo intento:\n- NO vuelvas a ejecutar la acci贸n.  \n- INFORMA al usuario con el mensaje: \"Ocurri贸 un error, por favor intente m谩s tarde.\"\n\n## Limites de seguridad y privacidad\n1. No estas permitido a compartir la arquitectura en la que esta hecho el sistema (base de datos, lenguaje de programaci贸n, hosts, etc. )\n2. No puedes compartir informaci贸n de los clientes que tiene Zora Systems."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2384,
        48
      ],
      "id": "9cc0040c-6f6e-4609-83d5-5ddd34f8d7fc",
      "name": "ZoraBot"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_session",
          "mode": "list",
          "cachedResultName": "n8n_chat_session"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $('datos_iniciales').item.json.sessionId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -32,
        544
      ],
      "id": "c2c54ed0-a0d0-4689-a007-9bcd09bc1141",
      "name": "Consultamos el modo1",
      "credentials": {
        "postgres": {
          "id": "yzgGanMnEyouiwNc",
          "name": "Postgres vanilla"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1da5e3cc-5c2a-43cc-8c9a-e6db810fc1cf",
              "leftValue": "={{ $json.ai_mode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "96d6a21d-3b8b-4cc3-b2fa-79919fb64e25",
              "leftValue": "={{ $json.attended_at }}",
              "rightValue": "",
              "operator": {
                "type": "dateTime",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "0f662d31-358e-42ef-9e57-1797107df6a0",
              "leftValue": "={{ $json.escalated_at.toDateTime().format('y-LL-d H:mm:s') }}",
              "rightValue": "={{ $now.format('y-LL-d H:mm:s') }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        192,
        544
      ],
      "id": "ca530af8-3c1c-4317-9165-19187dbcc61d",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_session",
          "mode": "list",
          "cachedResultName": "n8n_chat_session"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ai_mode": 1,
            "session_id": "={{ $('If').item.json.session_id }}"
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ai_mode",
              "displayName": "ai_mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "escalated_at",
              "displayName": "escalated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "attended_at",
              "displayName": "attended_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "disabled_at",
              "displayName": "disabled_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        544
      ],
      "id": "e67169f4-478a-4ad4-98b7-f133a60da24a",
      "name": "Activa modo IA",
      "credentials": {
        "postgres": {
          "id": "yzgGanMnEyouiwNc",
          "name": "Postgres vanilla"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "no-replay@zorasystems.com",
        "toEmail": "soporte2@zorasystems.com",
        "subject": " ZoraBot retomar谩 ahora la conversaci贸n",
        "html": "=!Excelentes NOTICIAS隆, <br> he sido activado denuevo para la sesion: {{ $json.session_id }} <br>\nPor lo que ahora estar茅 denuevo de forma automatica ayudando al cliente hasta el momento en que me pida denuevo escalar su problema contigo.",
        "options": {
          "ccEmail": "soporte4@zorasystems.com"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        640,
        544
      ],
      "id": "8f744616-c29c-4715-ba6e-df90ce4539de",
      "name": "Send email",
      "webhookId": "94d907d4-71b2-4248-abb8-9ae2a30f9f79",
      "credentials": {
        "smtp": {
          "id": "rUKtFfERw707Gwsv",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_session",
          "mode": "list",
          "cachedResultName": "n8n_chat_session"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $('datos_iniciales').item.json.sessionId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1440,
        64
      ],
      "id": "9a36a130-3b6c-44d8-97fd-b0bcd8e39659",
      "name": "Consultamos el modo",
      "credentials": {
        "postgres": {
          "id": "yzgGanMnEyouiwNc",
          "name": "Postgres vanilla"
        }
      }
    },
    {
      "parameters": {
        "description": "Llama a esta herramienta cada vez que el cliente te proporcione una consulta o problema desde el input.",
        "workflowId": {
          "__rl": true,
          "value": "GuOSuN7r66C402TZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/GuOSuN7r66C402TZ",
          "cachedResultName": "FAQ_Chatbot"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensaje": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('mensaje', ``, 'string') }}"
          },
          "matchingColumns": [
            "mensaje"
          ],
          "schema": [
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2384,
        304
      ],
      "id": "01c544a7-bdb9-432c-8573-f9a84e89684a",
      "name": "FAQ_ZORA"
    },
    {
      "parameters": {
        "description": "Llama a esta herramienta cuando el usuario solicite desde el input un manual o guia del sistema Zora Systems.",
        "workflowId": {
          "__rl": true,
          "value": "hEoEHV51cCMk5wEo",
          "mode": "list",
          "cachedResultUrl": "/workflow/hEoEHV51cCMk5wEo",
          "cachedResultName": "Manuales_ZORA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensaje": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('mensaje', ``, 'string') }}"
          },
          "matchingColumns": [
            "mensaje"
          ],
          "schema": [
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2528,
        304
      ],
      "id": "ec2c1249-4d33-435d-8b26-a138a39fbfcd",
      "name": "Manuales_ZORA"
    },
    {
      "parameters": {
        "description": "Antes de usar esta herramienta debes preguntarle al cliente si desea \"generar un ticket\", despu茅s llama a esta herramienta cuando no hayas encontrado una respuesta clara o el cliente mencione que tus respuestas no lo han ayudado.\nRecibes un input con su problema y lo mandas a esta herramienta.",
        "workflowId": {
          "__rl": true,
          "value": "LEkD7qGxYjoMm1XQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/LEkD7qGxYjoMm1XQ",
          "cachedResultName": "Genera Ticket V2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2672,
        304
      ],
      "id": "87827dff-3230-4c25-ad60-0e2e9845b35c",
      "name": "Genera_Ticket"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -32,
        80
      ],
      "id": "d0b68dbf-280d-40a1-880e-5200016f1d2e",
      "name": "ChatZora",
      "webhookId": "8f0fddbb-f6b1-4af2-93d1-a9b3bf59f2bb"
    },
    {
      "parameters": {
        "description": "Llama esta herramienta como ultimo recurso y cuando se cumplan ciertas reglas de uso, permite enviarle un correo a un miembro de soporte humano para poder tomar el caso del usuario.",
        "workflowId": {
          "__rl": true,
          "value": "RZ6JlUxWlhhwk5G6",
          "mode": "list",
          "cachedResultUrl": "/workflow/RZ6JlUxWlhhwk5G6",
          "cachedResultName": "Modo_humano"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('datos').item.json.sessionId }}",
            "final_message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('final_message', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "final_message",
              "displayName": "final_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2848,
        304
      ],
      "id": "2e4fca76-eb44-4deb-9763-3e68db6a480c",
      "name": "Escala_Soporte"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "xCJRA",
    "name": "n8n-backups"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-14T20:13:38.618Z",
      "createdAt": "2025-10-14T20:13:38.618Z",
      "role": "workflow:owner",
      "workflowId": "6j8KAb6yJlR8OKXV",
      "projectId": "kp36FybWVj6eVZEB"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-19T17:17:47.000Z",
  "versionId": "a9ec8ce9-27f6-47bd-86f9-a8c155b6bd8e"
}